In [20]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('freshwater-withdrawals-as-a-share-of-internal-resources.csv')

In [21]:
df.head()

,Entity,Code,Year,6.4.2 - Level of water stress: freshwater withdrawal as a proportion of available freshwater resources (%) - ER_H2O_STRESS - No breakdown
0,Afghanistan,AFG,2000,54.76
1,Afghanistan,AFG,2001,54.76
2,Afghanistan,AFG,2002,54.76
3,Afghanistan,AFG,2003,54.76
4,Afghanistan,AFG,2004,54.76

In [22]:
df.describe

<bound method NDFrame.describe of            Entity Code  Year  \
0     Afghanistan  AFG  2000
1     Afghanistan  AFG  2001
2     Afghanistan  AFG  2002
3     Afghanistan  AFG  2003
4     Afghanistan  AFG  2004
...           ...  ...   ...
3682     Zimbabwe  ZWE  2016
3683     Zimbabwe  ZWE  2017
3684     Zimbabwe  ZWE  2018
3685     Zimbabwe  ZWE  2019
3686     Zimbabwe  ZWE  2020

      6.4.2 - Level of water stress: freshwater withdrawal as a proportion of available freshwater resources (%) - ER_H2O_STRESS - No breakdown
0                                                 54.76
1                                                 54.76
2                                                 54.76
3                                                 54.76
4                                                 54.76
...                                                 ...
3682                                              31.94
3683                                              31.35
3684                                              35.41
3685                                              35.41
3686                                              35.41

[3687 rows x 4 columns]>

In [23]:
# Cleaning data: Checking for Missing Values

df.isnull().sum()

Entity                                                                                                                                        0
Code                                                                                                                                         66
Year                                                                                                                                          0
6.4.2 - Level of water stress: freshwater withdrawal as a proportion of available freshwater resources (%) - ER_H2O_STRESS - No breakdown     0
dtype: int64

In [24]:
df.dtypes

Entity                                                                                                                                        object
Code                                                                                                                                          object
Year                                                                                                                                           int64
6.4.2 - Level of water stress: freshwater withdrawal as a proportion of available freshwater resources (%) - ER_H2O_STRESS - No breakdown    float64
dtype: object

In [25]:
#renaming column
new_column_names = {'6.4.2 - Level of water stress: freshwater withdrawal as a proportion of available freshwater resources (%) - ER_H2O_STRESS - No breakdown':'water_stress_level'}
df = df.rename(columns=new_column_names)

In [30]:
new_column_name = {'Entity':'Country'}
df=df.rename(columns=new_column_name)

In [31]:
df.columns

Index(['Country', 'Code', 'Year', 'water_stress_level'], dtype='object')

In [32]:
def select_and_drop_countries(df: pd.DataFrame) -> pd.DataFrame:
    df2 = df.copy()
    countries_to_keep = ['Brazil', 'Colombia', 'Costa Rica', 'Mexico', 'Perú']
    df2 = df2[df2['Country'].isin(countries_to_keep)]
    return df2

In [33]:
display(select_and_drop_countries(df))

     Country Code  Year  water_stress_level
420   Brazil  BRA  2000                2.65
421   Brazil  BRA  2001                2.67
422   Brazil  BRA  2002                2.68
423   Brazil  BRA  2003                2.70
424   Brazil  BRA  2004                2.71
...      ...  ...   ...                 ...
2195  Mexico  MEX  2016               32.48
2196  Mexico  MEX  2017               32.95
2197  Mexico  MEX  2018               44.46
2198  Mexico  MEX  2019               44.72
2199  Mexico  MEX  2020               44.82

[72 rows x 4 columns]

In [34]:
df = select_and_drop_countries(df)

In [35]:
#Checking for missing values after selecting countries we need and dropping the rest.
df.isnull().sum()

Country               0
Code                  0
Year                  0
water_stress_level    0
dtype: int64

In [43]:
df.to_csv('freshwater-withdrawals-as-a-share-of-internal-resources.csv', index=False)

In [44]:
#Storing the function select and drop countries in my function file

In [45]:
function_file = 'my_function.py'  
with open(function_file, 'a') as file:
    file.write('''
def select_and_drop_countries(df: pd.DataFrame) -> pd.DataFrame:
    df2 = df.copy()
    countries_to_keep = ['Brazil', 'Colombia', 'Costa Rica', 'Mexico', 'Perú']
    df2 = df2[df2['Country'].isin(countries_to_keep)]
    return df2''')